body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #c75656;
  background-color: t;
  

}

.featurette-heading,
.lead {
  font-family: 'Montserrat', sans-serif;
  
}

.featurette-heading {
  font-size: 2.5rem;
  color: #333;
  letter-spacing: -0.05em;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
  color: #555;
  letter-spacing: 0.025em;
  line-height: 1.5;
  margin-bottom: 2rem;
}



/* .container {
  border: 2px solid #4CAF50; 
  margin: 10px; 
  padding: 10px;
} */

.carousel-caption {
  color: #ffffff !important; /* change the text color to white */
  font-family: 'Helvetica Neue', sans-serif; /* change the font family to a sans-serif font */
  text-shadow: 2px 2px 4px #dad432; /* add a text shadow to make the text look cooler */
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.btn.btn-success.btn-block {
  background-color: #09e41b; /* Green background color */
  border: none; /* Remove border */
  color: white; /* White text color */
  padding: 10px 20px; /* Add some padding to create space around the text */
  text-align: center; /* Center text within the button */
  text-decoration: none; /* Remove underlining */
  display: inline-block; /* Display as an inline element */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Add cursor pointer on hover */
  
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }